<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    img-src 'self' data: blob: https:;
    script-src 'self' https://cdn.jsdelivr.net 'nonce-<%= nonce %>';
    style-src 'self' 'unsafe-inline';
    connect-src 'self' blob:;
    font-src 'self' data:;
">

    <title>3D model load</title>
    <link rel="stylesheet" href="./style.css">
    <!-- <script type="importmap" src="./importmap.json"></script> -->
    <script type="importmap" nonce="<%= nonce %>">
    {
        "imports": {
            "three": "./build/three.module.js",
            "three/examples/jsm/loaders/GLTFLoader.js": "./jsm/loaders/GLTFLoader.js",
            "three/examples/jsm/controls/OrbitControls.js": "./jsm/controls/OrbitControls.js",
            "three/examples/jsm/libs/lil-gui.module.min.js": "./jsm/libs/lil-gui.module.min.js",
            "three/examples/jsm/libs/meshopt_decoder.module.js": "./jsm/libs/meshopt_decoder.module.js",
            "three/examples/jsm/loaders/OBJLoader.js": "./jsm/loaders/OBJLoader.js",
            "three/examples/jsm/loaders/MTLLoader.js": "./jsm/loaders/MTLLoader.js",
            "three/examples/jsm/loaders/FBXLoader.js": "./jsm/loaders/FBXLoader.js",
            "three/examples/jsm/loaders/RGBELoader.js": "./jsm/loaders/RGBELoader.js",
            "three/examples/jsm/loaders/STLLoader.js": "./jsm/loaders/STLLoader.js",
            "three/examples/jsm/libs/stats.module.js": "./jsm/libs/stats.module.js"
        }
    }
</script>

</head>
<body>
    <div id="error-hint"></div>
<!-- Navbar -->
<nav class="navbar" id="navbar">
    <div class="navbar-container">
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="#">P2104352</a></li>
            <li><a href="#" id="aboutLink">About</a></li>
            <li><a href="#" id="controlsLink">Control</a></li>
            <li><a href="#" id="legalsLink">Legals</a></li>
            <li><a href="#" id="refreshPage">Refresh Page</a></li>  <!-- 初始隱藏 -->
            <!-- <li><a href="#" id="refreshPage" style="display: none;">Refresh Page</a></li>  初始隱藏 -->
            <li class="qr-code-container">
                <img src="./qr-code/qr-code.png" alt="QR Code" class="qr-code-icon">
                <div class="qr-code" id="qrCode">
                    <img src="./qr-code/fyp-qr-code.png" alt="QR Code" class="qr-code-image">
                </div>
            </li>
            <li><a href="#" id="refreshPage" style="display: none;">Refresh Page</a></li>  <!-- 初始隱藏 -->
        </ul>
    </div>
</nav>

    <div class = "progress-bar-container" >

            <div id="container3D"></div>

        <label for="progress-bar" id="loading-label">
            <p>Import your 3D file here</p>
            <button id="myButton" class="btn-animate__underline-from-center">Choose a file</button> 
            <input type="file" id="model-file-input" accept=".glb, .bin, .obj, .fbx, .stl" style="display: none;"> 
        </label>

         
        <progress id="progress-bar" value="0" max="100" style="display: none;"></progress>
    </div>


    <!-- Modal for file upload -->
    <div id="uploadModal" class="modal">
        <div class="dmodal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Import your 3D file here</h2>
            <div id="dropArea">
                <p>Drag and drop a 3D model file here</p>
                <button id="uploadButton" class="btn-animate__underline-from-center">Upload a file</button>
                <input type="file" id="model-file-input-modal" accept=".glb, .bin, .obj, .fbx, .stl" style="display: none;">
                <!-- <input type="file" id="model-file-input-modal" accept=".gltf, .glb, .bin, .obj, .fbx, .stl" style="display: none;"> -->
            
            </div>
            <!-- <p>supports format: glb, gltf, bin, obj, fbx, stl</p> -->
            <p class="support">supports format: .glb, .bin, .obj (.mtl), .fbx, .stl</p>
        </div>
    </div>
    
    <canvas class="web-gl"></canvas>
    
    
    <!-- Modal for About -->
<div id="aboutModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeAboutModal">&times;</span>
        <h2>Interactive 3D Models Rendering Web App</h2>
    
        <p>     This project developed an interactive website which can use in PC, mobile phone, and different operating system, 
            provides the user a can control the 3D models with interface. User also can use the mouse or touch control in mobile such as move 3d model, zoom in and out, etc.</p>
            <hr>
            <p>     The project infrastructure in a 3D model rendering uses the WebGL and Three.js. 
                WebGL is a cross-platform JavaScript API that works with all the major browsers and allows 3D visuals to be rendered in the browser without the need for plugins. 
                Moreover, Three.js is the most popular library/API for WebGL-based 3D graphics, making it easy for developers to create complex 3D scenes and visualizations.
            </p>
    </div>
</div>

<!-- Modal for Controls -->
<div id="controlsModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeControlsModal">&times;</span>
        <h2>Controls</h2>
        <p>Here you can find information about how to use the controls for the 3D model viewer.</p>
        <p>Use the mouse to rotate, zoom, and pan the model.</p>
    </div>
</div>

<!-- Modal for Legals -->
<div id="legalsModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeLegalsModal">&times;</span>
        <h2>Disclaimer</h2>
        <p>     This project does not guarantee that the service or its content and functions are error-free or uninterrupted, nor that all defects will be corrected, or that your use will yield specific results.
            The service and its content are provided "as is." Information provided through the service may change at any time without notice. 
            This project does not guarantee that downloaded files or other data are free from viruses or harmful components. 
            No express or implied warranties are provided, including accuracy of content, non-infringement, or merchantability for specific purposes. 
            The project is not liable for any third-party actions related to your use of the service. You assume all responsibility for using the service and linked websites. 
            If you are dissatisfied with the service or its content, your sole remedy is to stop using it. This limitation is part of the agreement between the parties.
            This project does not guarantee that the service or its content and functions are error-free or uninterrupted, nor that all defects will be corrected, or that your use will yield specific results.
            The service and its content are provided "as is." Information provided through the service may change at any time without notice. 
            This project does not guarantee that downloaded files or other data are free from viruses or harmful components. 
            No express or implied warranties are provided, including accuracy of content, non-infringement, or merchantability for specific purposes. 
            The project is not liable for any third-party actions related to your use of the service. You assume all responsibility for using the service and linked websites. 
            If you are dissatisfied with the service or its content, your sole remedy is to stop using it. This limitation is part of the agreement between the parties
            This project does not guarantee that the service or its content and functions are error-free or uninterrupted, nor that all defects will be corrected, or that your use will yield specific results.
            The service and its content are provided "as is." Information provided through the service may change at any time without notice. 
            This project does not guarantee that downloaded files or other data are free from viruses or harmful components. 
            No express or implied warranties are provided, including accuracy of content, non-infringement, or merchantability for specific purposes. 
            The project is not liable for any third-party actions related to your use of the service. You assume all responsibility for using the service and linked websites. 
            If you are dissatisfied with the service or its content, your sole remedy is to stop using it. This limitation is part of the agreement between the parties
            This project does not guarantee that the service or its content and functions are error-free or uninterrupted, nor that all defects will be corrected, or that your use will yield specific results.
            The service and its content are provided "as is." Information provided through the service may change at any time without notice. 
            This project does not guarantee that downloaded files or other data are free from viruses or harmful components. 
            No express or implied warranties are provided, including accuracy of content, non-infringement, or merchantability for specific purposes. 
            The project is not liable for any third-party actions related to your use of the service. You assume all responsibility for using the service and linked websites. 
            If you are dissatisfied with the service or its content, your sole remedy is to stop using it. This limitation is part of the agreement between the parties</p>
            <hr>
        <p>     This disclaimer applies to damages or liabilities arising from any breach, error, omission, interruption, deletion, defect, delay in operation or transmission, 
            computer viruses, communication line failures, theft, destruction, or unauthorized access, alteration, and use, regardless of the legal basis.</p>
    </div>
</div>

<script type="module" src="./client.js"></script>
<script type="module" src="./index.js"></script>
    
<script src="./nav-and-modal.js"></script>

<script src="https://cdn.jsdelivr.net/npm/validator@13.11.0/validator.min.js"></script>




</body>
</html>